@use '@angular/material' as mat;
@use '../../../core/styling/styling_theme-colors.scss' as theme;
@use 'sass:map';


.categoryContainer{
    background-color:mat.get-theme-color(theme.$light-theme,tertiary,60);
    color:white;
    box-shadow:1px 2px 1px 1px mat.get-theme-color(theme.$light-theme,primary,80);
    transition:0.2s, ease;
}


.deleteCross {
  background: transparent;
  color: mat.get-theme-color(theme.$light-theme,error,50);
  cursor: pointer;
}

.point {
  background-color: mat.get-theme-color(theme.$light-theme,primary,30);
}
.pointAdd {
  background-color: map.get(theme.$success-palette,50);

}

.categoryContainer:hover{
    transform:translate(-1px,-1px);
    cursor:pointer;
}

