@use '@angular/material' as mat;
@use './styling_theme-colors.scss' as theme;

:root {

  @include mat.all-component-themes(theme.$light-theme);
  @include mat.toolbar-overrides((
      container-background-color:  mat.get-theme-color(theme.$light-theme,primary,20),
      container-text-color: white,
      ));
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", sans-serif;
}


