/* You can add global styles to this file, and also import other style files */


.snackbar-success {
  --mdc-snackbar-container-color: #197122;
  --mdc-snackbar-supporting-text-color: white;
  --mdc-snackbar-supporting-text-font: Verdana, sans-serif;
}

.snackbar-error {
  --mdc-snackbar-container-color: #ba1a1a;
   --mdc-snackbar-supporting-text-color: white;
   --mdc-snackbar-supporting-text-font: Verdana, sans-serif;
}
