
@use 'sass:map';
@use '@angular/material' as mat;
@use '../../core/styling/styling_theme-colors.scss' as theme;


.loginBackground {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient( 45deg, mat.get-theme-color(theme.$light-theme,secondary,20) 0%, mat.get-theme-color(theme.$light-theme,secondary,40) 25%, mat.get-theme-color(theme.$light-theme, primary, 50) 55%, mat.get-theme-color(theme.$light-theme, primary, 20) 100% );
}

.loginCard {
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width:400px;
  border-radius: 20px;
  padding: 40px;
  box-sizing: border-box;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 10px 25px rgba(map.get(theme.$primary-palette, 0), 0.7),
      0 5px 10px rgba(map.get(theme.$primary-palette, 10), 0.15);
}

.loginHeader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.loginBody {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.formField {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.loginFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
  gap:20px;
}

.button {
  background-color: map.get(theme.$success-palette, 40) !important;
}
